$breakpoint--xs: 0;
$breakpoint--sm: 576px;
$breakpoint--md: 768px;
$breakpoint--lg: 992px;
$breakpoint--xl: 1200px;

$grid-breakpoints: (
    "sm":$breakpoint--sm,
    "md":$breakpoint--md,
    "lg":$breakpoint--lg,
    "xl":$breakpoint--xl,
) !default;

// Grid containers
$grid-max-width: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
) !default;

// Grid columns
$grid--columns:                12 !default;
$grid--gutter-width:           30px !default;
$grid--row-columns:            6 !default;