@mixin headings ($font--size) {
    font-size: $font--size;
    font-weight: $heading--font-weight;
    line-height: $heading--line-height;
    margin-top: 0;
    margin-bottom: $heading--space-after;
}

@mixin large-headings ($font--size) {
    font-size: $font--size;
    font-weight: $large-heading--font-weight;
    line-height: $large-heading--line-height;
    margin-top: 0;
    margin-bottom: $large-heading--space-after;
}