//Flex Direction
@each $direction in $flex-direction {
    .flex--#{$direction} {
        @include flex-direction($direction);
    }
}

//Flex direction responsive
@each $breakpoint, $breakpoint-size in $grid-breakpoints {
    @each $size, $grid-size in $grid-max-width {
        @if $breakpoint == $size {
            @media screen and (min-width: $breakpoint-size) {
                @each $direction in $flex-direction {
                    .flex--#{$size}-#{$direction} {
                        @include flex-direction($direction);
                    }
                }
            }
        }
    }
}

//Flex wrap
@each $wrap in $flex-wrap {
    .flex--#{$wrap} {
        @include flex-wrap($wrap);
    }
}

//Flex wrap responsive
@each $breakpoint, $breakpoint-size in $grid-breakpoints {
    @each $size, $grid-size in $grid-max-width {
        @if $breakpoint == $size {
            @media screen and (min-width: $breakpoint-size) {
                @each $wrap in $flex-wrap {
                    .flex--#{$size}-#{$wrap} {
                        @include flex-wrap($wrap);
                    }
                }
            }
        }
    }
}

//Flex Alignments
.justify-content--start   { 
    justify-content: flex-start; 
}

.justify-content--end     { 
    justify-content: flex-end; 
}

.justify-content--center  { 
    justify-content: center; 
}

.justify-content--between { 
    justify-content: space-between; 
}

.justify-content--around  { 
    justify-content: space-around; 
}


.align-items--start    { 
    align-items: flex-start; 
}

.align-items--end      { 
    align-items: flex-end; 
}

.align-items--center   { 
    align-items: center; 
}

.align-items--baseline { 
    align-items: baseline; 
}

.align-items--stretch  { 
    align-items: stretch; 
}


.align-content--start   { 
    align-content: flex-start; 
}

.align-content--end     { 
    align-content: flex-end; 
}

.align-content--center  { 
    align-content: center; 
}

.align-content--between { 
    align-content: space-between; 
}

.align-content--around  { 
    align-content: space-around; 
}

.align-content--stretch { 
    align-content: stretch; 
}


.align-self--auto     { 
    align-self: auto; 
}

.align-self--start    { 
    align-self: flex-start; 
}

.align-self--end      { 
    align-self: flex-end; 
}

.align-self--center   { 
    align-self: center; 
}

.align-self--baseline { 
    align-self: baseline; 
}

.align-self--stretch  { 
    align-self: stretch; 
}


//Flex Alignments Repsonsive
@each $breakpoint, $breakpoint-size in $grid-breakpoints {
    @each $size, $grid-size in $grid-max-width {
        @if $breakpoint == $size {
            @media screen and (min-width: $breakpoint-size) {
                .justify-content--#{$size}-start   { 
                    justify-content: flex-start; 
                }
                
                .justify-content--#{$size}-end     { 
                    justify-content: flex-end; 
                }
                
                .justify-content--#{$size}-center  { 
                    justify-content: center; 
                }
                
                .justify-content--#{$size}-between { 
                    justify-content: space-between; 
                }
                
                .justify-content--#{$size}-around  { 
                    justify-content: space-around; 
                }

                
                .align-items--#{$size}-start    { 
                    align-items: flex-start; 
                }
                
                .align-items--#{$size}-end      { 
                    align-items: flex-end; 
                }
                
                .align-items--#{$size}-center   { 
                    align-items: center; 
                }
                
                .align-items--#{$size}-baseline { 
                    align-items: baseline; 
                }
                
                .align-items--#{$size}-stretch  { 
                    align-items: stretch; 
                }

                
                .align-content--#{$size}-start   { 
                    align-content: flex-start; 
                }
                
                .align-content--#{$size}-end     { 
                    align-content: flex-end; 
                }
                
                .align-content--#{$size}-center  { 
                    align-content: center; 
                }
                
                .align-content--#{$size}-between { 
                    align-content: space-between; 
                }
                
                .align-content--#{$size}-around  { 
                    align-content: space-around; 
                }
                
                .align-content--#{$size}-stretch { 
                    align-content: stretch; 
                }

                
                .align-self--#{$size}-auto     { 
                    align-self: auto; 
                }
                
                .align-self--#{$size}-start    { 
                    align-self: flex-start; 
                }
                
                .align-self--#{$size}-end      { 
                    align-self: flex-end; 
                }
                
                .align-self--#{$size}-center   { 
                    align-self: center; 
                }
                
                .align-self--#{$size}-baseline { 
                    align-self: baseline; 
                }
                
                .align-self--#{$size}-stretch  { 
                    align-self: stretch; 
                }
            }
        }
    }
}
